<div ng-controller="PeoplesearchController" ng-cloak>
    <div id="searchRow" class="row">
        <form name="searchForm" class="form-horizontal">
            <div class="form-group">
                <label class="sr-only" for="searchBox">Email address</label>
                <div class="input-group col-sm-8 col-sm-offset-1">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                    <input type="search" class="form-control input-lg" id="searchBox" placeholder="Search for people by name">
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="triggerQuery()">{{queryButtonText()}}</button>
                </div>
            </div>
            <p class="help-block text-center" ng-show="result">{{result.Total}} results ({{queryTime | number:5}} seconds)</p>
        </form>
    </div>


    <div id="resultsRow" class="row">
        <div id="resultsPlaceholder" ng-if="!result" class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <h1>PeopleSearch</h1>
                <p>You've got queries, we've got people.</p>

                @Html.ActionLink("Import people", "Index", "PeopleImport", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div id="results" ng-if="result">
            <div class="person" ng-repeat="person in result.Data">
                <img class="person-image img-thumbnail" ng-src="{{person.PictureLarge}}" alt="user photo"/>
                <div class="person-content">
                    <h4>{{person.NameFirst}} {{person.NameLast}} <small>{{person.Username}}</small></h4>
                    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{person.AddressStreet}}, {{person.AddressCity}}, {{person.AddressState}} {{person.AddressPostcode}}</p>
                    <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> {{person.Phone}}</p>
                </div>
            </div>
        </div>
    </div>
</div>