<div ng-controller="PeoplesearchController" ng-cloak>
    <div id="searchRow" class="row">
        <div class="col-md-12">
            <form name="searchForm" class="form-horizontal">
                <div class="form-group">
                    <label class="sr-only" for="searchBox">Email address</label>

                    <div class="col-sm-8 col-sm-offset-1 query-column">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                            <input ng-disabled="queryInProgress" ng-model="query" type="search" class="form-control input-lg" id="searchBox" placeholder="Search for people by name">
                        </div>
                    </div>
                    <div class="col-sm-3 query-column">
                        <button ng-disabled="queryInProgress" type="submit" class="btn btn-primary btn-lg" ng-click="triggerQuery()">
                            <img class="primary-loader" ng-if="queryInProgress" src="~/Content/images/ajax-loader_large.gif" />
                            {{queryButtonText()}}
                        </button>

                        <button ng-disabled="queryInProgress" id="sortButton" class="btn btn-default btn-lg" type="button" ng-model="sort" ng-click="toggleSort()" aria-label="left-align">
                            <span ng-if="sort === 'asc'" class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                            <span ng-if="sort === 'dsc'" class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                        </button>

                    </div>
                </div>
                <p class="help-block text-center" ng-show="result">{{result.Total}} results ({{queryTime | number:5}} seconds)</p>
            </form>
        </div>
    </div>



    <div id="resultsRow" class="row" ng-class="{'loading' : queryInProgress}">
        <div id="resultsPlaceholder" ng-if="!result" class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <h1>PeopleSearch</h1>
                <p>You've got queries, we've got people.</p>

                @Html.ActionLink("Import people", "Index", "PeopleImport", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div class="col-md-12" id="results" ng-if="result">
            <div class="person" ng-repeat="person in result.Data">
                <img class="person-image img-thumbnail" ng-src="{{person.PictureLarge}}" alt="user photo" />
                <div class="person-content">
                    <h4>{{person.NameFirst}} {{person.NameLast}} <small>{{person.Username}}</small></h4>
                    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{person.AddressStreet}}, {{person.AddressCity}}, {{person.AddressState}} {{person.AddressPostcode}}</p>
                    <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> {{person.Phone}}</p>
                </div>
            </div>
        </div>
        <div id="pagination" class="col-md-12 text-center" ng-if="result">
            <ul ng-disabled="queryInProgress" uib-pagination total-items="result.Total" ng-model="page.current" ng-change="triggerPageChange()" class="pagination-sm" boundary-link-numbers="true" rotate="true" max-size="8"></ul>
        </div>
    </div>
</div>