<div #id="import-jumbo" class="jumbotron">
    <h1>New Friends Fast!</h1>
    <p class="lead">Add new people to the local database, making friends has never been this easy!*</p>
    <p>There are currently @ViewBag.PeopleCount people in the local database.</p>
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-lg-12">
        <p><small><strong>*</strong> These friends are indifferent to your well being, do <strong>not</strong> ask them to help you move.</small></p>
    </div>
</div>